---
import ServicesCatalogIntro from "./ServicesCatalogIntro.astro";
import ServicesGrid from "./ServicesGrid.astro";

---

<div class="py-8 lg:py-14 overflow-hidden" style="background: linear-gradient(237.94deg, #403F3F 11.54%, #000000 100%);">
  <ServicesCatalogIntro />
  <ServicesGrid />
</div>