---
import ServiceCard from '../../ui/ServiceCard.astro';
import { services } from '../../../data/services';
---

<section class="relative overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 z-10 relative">

    <h2
      class="text-white font-bold text-center mb-10 text-h2"
    >
      Lista de servicios
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {services.map((service, index) => (
        <div data-reveal="up" style={`--reveal-delay: ${index * 100}ms`}>
          <ServiceCard
            image={service.images[0]}
            title={service.name}
            description={service.shortDescription}
            href={`/services/${service.slug}`}
          />
        </div>
      ))}
    </div>
  </div>

  <div class="hidden md:block absolute -bottom-40 -right-40 opacity-50">
    <img src="/images/star.png" alt="Star" class="w-auto h-150 opacity-50" />
  </div>

  <div class="hidden md:block absolute -top-10 -left-40 opacity-50">
    <img src="/images/star.png" alt="Star" class="w-auto h-150 opacity-50" />
  </div>
</section>
