---
import ContactForm from "./ContactForm.astro";
import ContactOptions from "./ContactOptions.astro";
---

<section class="py-8 lg:py-14" style="background: linear-gradient(237.94deg, #403F3F 11.54%, #000000 100%);">
  <ContactOptions />
  <ContactForm />
</section>