---
import SEOHead from '../components/seo/SEOHead.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <SEOHead title={title} description={description} ogImage={ogImage} />
    <style>
      .gslide-media {
        height: auto !important;
      }
    </style>
  </head>
  <body>
    <ClientRouter />
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
